/* COLOURS */
/* 
ADULLAM BLUE            #32A1D5,
FOOTER & ACTIVE BLACK   #1E1E1E
GRAY                    #C4C4C4
LIGHT GRAY              #EEEEEE
*/

:root {
  /* color variables */
  --adullam-blue: #32a1d5;
  --footer-black: #1e1e1e;
  --gray-colour: #c4c4c4;
  --lightgray: #eeeeee;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  /* --grayishBlue: hsl(228, 58%, 14%); */
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

main {
  font-family: "Poppins", sans-serif;
}
/* display header */

.sponsor__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../images/giving.png");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
}

/* about display header */
.sponsor__header header h1 {
  color: #fff;
}
.more__info--content {
  display: flex;
}
.info__img--container {
  margin: 1rem;
}
.info__img--container img {
  width: 100%;
  height: auto;
}
.more__info--text {
  text-align: justify;
}

@media all and (max-width: 48rem) {
  .about__header {
    height: 25vh;
  }
  .about__header h1 {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 42.5rem) {
  .about__header h1 {
    font-size: 2rem;
  }
  .more__info--content {
    flex-wrap: wrap;
    padding: 1.5rem;
  }
  .semesters__details p {
    padding: 0 2rem;
  }
  .semesters-card {
    /* padding: 0 4rem; */
    flex-wrap: wrap;
  }
  .program__options--container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 33.75rem) {
  /* Hide main navigation and show mobile menu */
  .main-header {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .menu-bar {
    background: var(--adullam-blue);
  }
  .about__header {
    height: 20vh;
  }
  .about__header h1 {
    font-size: 1.1rem;
  }
  .semester-text p {
    text-align: center;
    padding: 0.2rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;
}

img {
  float: right;
}
.box > img {
  width: 50px;
}

@media (max-width: 450px) {
  .box {
    height: 596px;
  }
  .box > img {
    width: 50px;
    margin-top: -1.7rem;
  }
  .sponsor__header {
    height: 27vh;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 500px;
  }
  .box > img {
    width: 50px;
    margin-top: -1.7rem;
  }
}

.cyan {
  border-top: 3px solid var(--cyan);
}
.red {
  border-top: 3px solid var(--red);
}
.blue {
  border-top: 3px solid var(--blue);
}
.orange {
  border-top: 3px solid var(--orange);
}

h2 {
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}
